<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Line Up</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css"/>
</head>
<body onload="ta_display()">
    <script src="/static/functions.js"></script>
    {% if username %}
        <h1> Time to work! {{ username }} </h1>
    {% else %}
        <h1> Welcome! Students </h1>
    {% endif %}
    <img src="/static/picture.jpg" alt="testing image" type="image/jpeg"/>
    <h1> TAs On Duty: </h1>
    <h2 id="ta_names"></h2>
    <form action="/user" method="get">
        <button onclick="submit">Register/Login</button>
    </form>
    <form action="/queue" method="post">
        <button onclick="submit">On Duty</button>
    </form>
    <br>
    <form action="/dequeue" method="post">
        <button onclick="submit">Off Duty</button>
    </form>
    <br>
    <form action="/student" method="POST">
        <label>
            Student:
            <input id="student" type="text" name="Name">
        </label>
    </form>
    <h2 id="student_names"></h2>


    <h3> Queue: </h3>
    {% for student in studentQ %}
        <p><button id="{{ student }}" onclick="dequeue('{{ student }}')">X</button> {{ student }}</p>
    {% endfor %}

    <script>
        function dequeue(studentName){//funciton to dequeue student, this is called by onclick button
            const request = new XMLHttpRequest();
            const name = studentName
            console.log(name)
            const body = JSON.stringify({student_name: name});
            console.log(body)
            request.open("POST", "/dequeue_student");
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(body);
        }
    </script>


</body>
</html>