<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Line Up</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css"/>
</head>
<body onload="ta_display()">
    <script src="/static/functions.js"></script>
    {% if username %}
        <h1> Time to work! {{ username }} </h1>
    {% else %}
        <h1> Welcome! Students </h1>
    {% endif %}
    <img src="/static/picture.jpg" alt="testing image" type="image/jpeg"/>
    <h1> TAs On Duty: </h1>
    <h2 id="ta_names"></h2>
    <form action="/user" method="get">
        <button onclick="submit">Register/Login</button>
    </form>
    <form action="/queue" method="post">
        <button onclick="submit">On Duty</button>
    </form>
    <br>
    <form action="/dequeue" method="post">
        <button onclick="submit">Off Duty</button>
    </form>
    <br>
    <form action="/student" method="POST">
        <label>
            Student:
            <input id="student" type="text" name="Name">
        </label>
    </form>
    <form action="/TA-chat" method="POST">
        <label>
            TA Chat:
            <input id="TA-chat" type="text" name="TA-chat">
        </label>
    </form>
    <h2 id="student_names"></h2>


    <h3> Queue: </h3>
    {% for student in studentQ %}
        <p><button id="{{ student }}" onclick="dequeue('{{ student }}')">X</button> {{ student }}</p>
    {% endfor %}

    <h4> TA Chat </h4>
    {% for chat in TA_chat %}
        <p><button id ="{{ chat }}" onclick="delete_chat('{{ chat }}')">X</button> {{ chat }}</p>
    {% endfor %}


</body>
</html>