<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Line Up</title>
    <link rel="stylesheet" type="text/css" href="/static/homepage.css"/>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>
</head>

<body onload="ta_display()">
    {% if username %}
        <h1> Time to work! {{ username }} </h1>
    {% else %}
        <h1> Welcome! Students </h1>
    {% endif %}
    <img src="/static/picture.jpg" alt="testing image" type="image/jpeg"/>
    <h1> TAs On Duty: </h1>
    <h2 id="ta_names"></h2>
    <form action="/user" method="get">
        <button onclick="submit">Register/Login</button>
    </form>
    <form action="/queue" method="post">
        <button onclick="submit">On Duty</button>
    </form>
    <br>
    <form action="/dequeue" method="post">
        <button onclick="submit">Off Duty</button>
    </form>
    <br>
    <form action="/student" method="POST">
        <label>
            Student:
            <input id="student" type="text" name="Name">
        </label>
    </form>
    <br>
    <label>
        TA Announcements:
        <input id="TA-chat" type="text" name="TA-chat">
    </label>
    <h2 id="student_names"></h2>


    <h3> Queue: </h3>
    {% for student in studentQ %}
        <p><button id="{{ student }}" onclick="dequeue('{{ student }}')">X</button> {{ student }}</p>
    {% endfor %}

    <h4> TA Announcements </h4>
    <div id="TA-Announcements">

    </div>

    <script src="/static/functions.js"></script>
</body>
</html>