<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Line Up</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body onload="ta_display()">
    <script src="/static/functions.js"></script>
    {% if username %}
        <h1> Time to work! {{ username }} </h1>
    {% else %}
        <h1> Welcome! Students </h1>
    {% endif %}
    <h1> TAs On Duty: </h1>
    <h2 id="ta_names"></h2>
    <form action="/queue" method="post">
        <button onclick="submit">On Duty</button>
    </form>
    <br>
    <form action="/dequeue" method="post">
        <button onclick="submit">Off Duty</button>
    </form>
    <br>
    <form action="/student" method="post">
        <label>
            Student:
            <input id="student" type="text" name="Name">
        </label>
    </form>
    <button id="chat-button" >Join Queue</button>


    <h3> Queue: </h3>



</body>
</html>