<!DOCTYPE html>
<html>
<head>
    <title>Line Up</title>
    <link rel="stylesheet" type="text/css" href="/static/user.css"/>
</head>
<body>
    {% if username %}
        <h1> Welcome! {{ username }} </h1>
    {% else %}
        <h1> Welcome! Student </h1>
    {% endif %}
    <img src="/static/image.jpg" alt="testing image" type="image/jpeg"/>

    <br><br>

    <h3>Register an Account</h3>
    <form action="/register" method="POST">
    <label>
        Username:
        <input id="username" type="text" name="username">
    </label>
    <label>
        Password:
        <input id="password" type="text" name="password">
    </label>
        <label>
            Confirm Password:
            <input id="confirmPassword" type="text" name="confirmPassword">
        </label>
        <input type="submit" value="Register">
    </form>
    <form action="/profile-upload" method="post" id="image-upload" enctype="multipart/form-data">
        <input id="image" type="file" name="upload">
        <button type="submit">Post</button>
    </form>

    <br><br>

    <h4>Login to Your Account</h4>
    <form action="/login" method="post">
        <label>Username:
            <input id="login_username" type="text" name="login_username">
        </label>
        <label>Password:
            <input id="login_password" type="text" name="login_password">
        </label>
        <button onclick="submit">Login</button>
    </form>

    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

</body>

<script src="/static/functions.js"></script>

</html>