<!DOCTYPE html>
<html>
<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
</head>
<body>
<h1> Welcome! </h1>
<img src="/static/image.jpg" alt="testing image" class="my_image"/>

<br><br>

<h3>Register an Account</h3>
<form action="/register" method="post">
<label>
    Username:
    <input id="register-user" type="text" name="user_register">
</label>
<label>
    Password:
    <input id="register-pw" type="text" name="pw_register">
</label>
    <input type="submit" value="Register">
</form>

</body>

<script src="/static/functions.js"></script>

</html>